{% extends "base.html.twig" %}

{% block body %}
    {% for message in app.flashes('success') %}
        <div class="alert alert-success text-center w-50 mx-auto my-2">{{ message }}</div>
    {% endfor %}
    <div class="container">
        <h1 class="text-center my-4">Gestion des commandes</h1>

        <table class="table table-stripped table-dark text-center rounded">
            <thead>
                <tr>
                    <th>Commande</th>
                    <th>Membre</th>
                    <th>Vehicule</th>
                    <th>Date et heure de départ</th>
                    <th>Date et heure de fin</th>
                    <th>Prix total</th>
                    <th>Date et heure d'enregistrement</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
            {% for commande in commandes %}
            <tr>
                <td>{{ commande.id }}</td>
                <td>{{ commande.membre.id }} - {{ commande.membre.prenom }} {{ commande.membre.nom }} - {{ commande.membre.email }}</td>
                <td> {{ commande.vehicule.marque }} {{ commande.vehicule.titre }}</td>
                <td>{{ commande.DateHeureDepart|date('d/m/Y H:i:s') }}</td>
                <td>{{ commande.DateHeureFin|date('d/m/Y H:i:s') }}</td> 
                <td>{{ commande.PrixTotal }}€</td>
                <td>{{ commande.DateEnregistrement|date('d/m/Y H:i:s') }}</td>
                <td>
                    <a href="{{ path('admin_commande_see', {id: commande.id}) }}"><i class="bi bi-search text-primary"></i></a>
                    <a href="{{ path('admin_commande_update', {id: commande.id}) }}"><i class="bi bi-pencil-square text-info"></i></a>
                    <a href="{{ path('admin_commande_delete', {id: commande.id}) }}"><i class="bi bi-trash text-danger"></i></a>
                </td>
            </tr>
            {% endfor %}
                
            </tbody>
        </table>
    </div>
{% endblock %}