{% extends "base.html.twig" %}

{% block body %}
    <div class="container">
        <h1 class="text-center my-4">Gestion des Vehicules</h1>

        <a href="{{ path('admin_vehicule_new') }}" class="btn btn-info mb-4">Ajouter Vehicule</a>
        <table class="table table-stripped table-dark text-center">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Titre</th>
                    <th>Marque</th>
                    <th>Modèle</th>
                    <th>Description</th>
                    <th>Photo</th>
                    <th>Prix</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
            {% for vehicule in vehicules %}
                <tr>
                    <td>{{vehicule.id}}</td>
                    <td>{{ vehicule.titre }}</td>
                    <td>{{ vehicule.marque }}</td>
                    <td>{{ vehicule.modele }}</td>
                    <td>{{ vehicule.description }}</td>
                    <td><img src="{{ vehicule.photo }}" alt="" width="100"></td>
                    <td>{{ vehicule.PrixJournalier }}€</td>
                    <td>
                        {# <a href=""><i class=""></i></a>
                        <a href=""><i class="fas fa-edit"></i></a>
                        <a href=""><i class="fas fa-trash"></i></a> #}
                        <a href="{{ path('admin_vehicule_see', {id: vehicule.id}) }}" class="btn btn-primary"><i class="bi bi-search"></i></a>
                        <a href="{{ path('admin_vehicule_edit', {id: vehicule.id}) }}" class="btn btn-info"><i class="bi bi-pencil-square"></i></a>
                        <a href="{{ path('admin_vehicule_delete', {id: vehicule.id}) }}" class="btn btn-danger"><i class="bi bi-trash"></i></a>
                    </td>
                </tr>
            {% endfor %}
                
            </tbody>
        </table>
    </div>
{% endblock %}