{% extends "base.html.twig" %}

{% block body %}
	<div class="container text-center">
        <h1 class="text-warning text-center my-3 ">User numéro : {{ user.id }}</h1>
		<div class="card bg-dark mb-3 text-light">
			<div class="card-header h1 text-light">Prénom : {{ user.prenom }}
				--
				Nom : {{ user.nom }}</div>
			<div class="card-body">
				<h4 class="card-title">Compte : {{ user.pseudo }}
					--
					Email : {{ user.email }}</h4>
				<p class="card-text">Sexe : {{ user.civilite }}</p>
				<p class="card-text">Date d'inscription : {{ user.DateEnregistrement|date('d/m/Y H:i:s') }}</p>
			</div>
		</div>
	</div>

	
{% endblock %}
